html,
body {
  
  margin-top: 0;
  /* overflow: hidden; */
}

body {
  background-color: hsl(228, 5%, 15%);
  color: hsl(228, 5%, 80%);

}

a {
  cursor: pointer !important;
}

#alertContainer{
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.bg-111{
  background-color: #111;
}
.bg-222{
  background-color: #222;
}
.bg-333{
  background-color: #333;
}
.bg-444{
  background-color: #444;
}

.game-widget{
  /* line-height: 2.5ex;
  /* height: 7.5ex; */
  /* overflow: scroll; */
  /*margin-bottom: 25px; */
}

.hide {
  display: none;
}

input[type="range"] {
  padding: 0;
  background: none;
  border: 1px solid hsl(228, 5%, 15%);
  margin: 0px;
}

input[type="range"]:hover {
  border: 1px solid var(--border);
}



.baseIcon {
  font-size: 2em;
}

sub.baseIcon {
  /* bottom: -0.391em; */
  bottom: -0.1955em;
  /* bottom:0em; */
  /* top: -0.391em; */
}

sup.baseIcon {
  /* top: -0.782em; */
  /* top: -0.391em; */
  top: -0.1955em;
  /* top:0em; */
}

/* sub.leftBaseIcon{
    
  } */
sup.centerbaseIcon {
  right: 0.37em;
}

sub.rightBaseIcon {
  /* right:0.21em; */
  right: 0.74em;
}

/* social media message */
.messageContainer {
  max-height: 50vh;
  /* Set the height of the scrollable container */
  overflow-y: auto;
  /* Enable vertical scrolling */
  border: 1px solid #eeeeee;
  /* border-radius: 8px; */
  padding: 10px;
  /* background-color: hsl(228, 5%, 20%); */
  font-family: Arial, sans-serif;
  position: relative;
}

.messageJumpButton {
  position: sticky;
  top:0px;
  color:black;
}

.page-link{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important
}

.page-link:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 1.0) !important
}

.post {
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0;
  /* background-color: hsl(228, 5%, 10%); */
}

.username {
  font-weight: bold;
  /* color: #1da1f2; Twitter blue */
}

.timestamp {
  color: #657786;
  /* grey */
  font-size: 12px;
}

/* news ticker */
#newsTickerContainer {
  overflow-y: hidden;
  height: calc(1em);
  width: 100%;
  margin: auto;
}

.newsTickerItem {
  position: relative;
  margin-bottom: 0em;
  overflow: hidden;
  top:0em;
  height: 1em;
  color: #fff;
  font-size: 1em;
  text-align: left;
  vertical-align: middle;
  line-height: 1em;
  transition-duration:1s;
  transition-timing-function: linear;
  /* background-color: rgb(110, 110, 110); */
}

.newsTickerItem.sliding-now {
  animation: up 2s linear infinite forwards;
  animation-delay: 3s;
}

@keyframes up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-1em));
  }
}